.results_id{
width:30px;
float:left;
}
.results_game{
width:75px;
float:left;
}
.results_user{
width:115px;
float:left;
}
.results_timestamp{
width:150px;
float:left;
}
.results_result{
width:250px;
float:left;
}
.results_saved{
width:500px;
float:left;
}
.results{
float:left;
}