<!--Listing Results-->

<h1><%= @title %></h1>



<table>
  <tr>
  <th>ID</th>
  <th>Game</th>
  <th>User</th>
  <% for column in Result.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
   
<%= render :partial => 'results' %>

</table>

<hr/>
<%= will_paginate @results %>
<hr/>

